[submodule "jetty-nosql-memcached"]
	path = jetty-nosql-memcached
	url = git://github.com/yyuu/jetty-nosql-memcached.git
[submodule "jetty-nosql-memcached-kryo"]
	path = jetty-nosql-memcached-kryo
	url = git://github.com/yyuu/jetty-nosql-memcached-kryo.git
[submodule "jetty-nosql-memcached-xstream"]
	path = jetty-nosql-memcached-xstream
	url = git://github.com/yyuu/jetty-nosql-memcached-xstream.git
[submodule "tests/test-memcached-sessions"]
	path = tests/test-memcached-sessions
	url = git://github.com/yyuu/test-memcached-sessions.git
[submodule "jetty-nosql-kvs"]
	path = jetty-nosql-kvs
	url = git://github.com/yyuu/jetty-nosql-kvs.git
